descartes
fiona>=1.8
gdal>=2
godale
geopandas>=0.8
jupyterlab>=1.2
matplotlib
numpy>=1.19
pandas>=1.1
psycopg2-binary
rasterio>=1.1
requests>=2.2
scipy>=1.5
shapely
tqdm>=4.51
imageio
rtree>=0.9
retrying
pytest
pytest-cov
pytest-runner